
.btn {
	font-size: 14px;
	letter-spacing: 1px;
	padding: 14px 25px;
	border-radius: 1px;
	-webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		 -o-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
  }
  
  .btn:active, .btn.active {
	outline: 0;
	background-image: none;
	-webkit-box-shadow: none;
			box-shadow: none;
  }
  
  .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: 0;
  }
  


.btn-black {
	text-transform: uppercase;
	color: #fff;
	background-color: #000;
	border-color: #000;
  }
  
  .btn-black:hover {
	opacity: 0.9;
	color: rgb(53, 53, 53);
  }
  