@font-face {
  font-family: 'TradeGothicLTStd-Bold';
  src: url("../fonts/trade_gothic_lt_std_bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothicLTStd';
  src: url("../fonts/trade_gothic_lt_std.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothicLTS-Light';
  src: url("../fonts/trade_gothic_lt_light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'din-bold';
  src: url("../fonts/DIN-Bold.woff.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaLT';
  src: url("../fonts/FuturaLT.woff") format("woff"), url("../fonts/FuturaLT.woff2") format("woff2"); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'FuturaLT-Light';
src: url("../fonts/FuturaLT-Light.woff") format("woff"), url("../fonts/FuturaLT-Light.woff2") format("woff2"); 
font-weight: thin;
font-style: normal;
}

@font-face {
font-family: 'FuturaLT-Heavy';
src: url("../fonts/FuturaLT-Light.woff") format("woff"), url("../fonts/FuturaLT-Light.woff2") format("woff2"); 
font-weight: bold;
font-style: normal;
}



/*
==============================================
BASE
==============================================
*/

body {
  font-family: 'TradeGothicLTStd', 'Lato', sans-serif;
  font-weight: 400;
  color: black;
  line-height: 24px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  padding-top: 68px;
  position: relative;
}

a {
  color: black;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
  color: gray;
}

img {
  max-width: 100%;
}

.dark-bg {
  background: #34353A;
}

.white-bg {
  background: white;
}

.without-padding {
  padding: 0;
}

.marg-0 {
  margin: 0;
}

.pad-b-0 {
  padding-bottom: 0!important;
}

.pad-t-100 {
  padding-top: 100px!important;
}

.bg-gray {
  background: #e5e5e5;
}

.form-control::-moz-placeholder {
  color: #494949;
}
.form-control:-ms-input-placeholder {
  color: #494949;
}
.form-control::-webkit-input-placeholder {
  color: #494949;
}

/*
==============================================
TYPOGRAPHY
==============================================
*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: black;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

h1, .h1 {
  font-family: 'TradeGothicLTStd-Bold', 'Libre Franklin', sans-serif;
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
}  

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p, ul, li {
  font-family: 'FuturaLT', 'Lato', sans-serif;
  font-size: 16px;
  margin: 0;
  color: rgb(63, 63, 63);
}

p strong {
  color: black;
}

.title-section hr {
  width: 15%;
}

.title-section  p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.pad-sec {
  padding: 100px 0!important;
}

.title-section {
  padding-left: 30px;
  padding-right: 30px;
}

.sep-section {
  height: 1px;
  border-bottom: 1px solid #EAEAEA;
}

/*
==============================================
BUTTONS
==============================================
*/

.btn {
  font-size: 14px;
  letter-spacing: 1px;
  padding: 14px 25px;
  border-radius: 1px;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}

.btn:active, .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: 0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, 
.btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: gray;
  border-color: gray;
}

.btn-xs {
  padding: 5px 14px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-sm {
  padding: 8px 37px;
  font-size: 12px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.btn-lg {
  padding: 15px 35px;
}

.btn-primary {
  text-transform: uppercase;
  background-color: black;
  border-color: black;
}

.btn-black {
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-black:hover {
  background-color: gray;
  border-color: gray;
  color: #fff;
}

.btn-clean {
  border-color: white;
  color: #F5F5F5;
  letter-spacing: 0;
}

.btn-clean:hover, .btn-clean:focus, .btn-clean:active {
  color: black;
  background-color: rgba(255, 255, 255, 0.705);
}

.btn-dark {
  color: #FFF;
  text-transform: uppercase;
  background: rgba(34,34,34, .9);
  font-weight: 400;
  border-color: rgba(0,0,0, .7);
}

.btn-dark:hover, .btn-dark:active, .btn-dark:focus, .btn-dark:visited {
  color: rgba(255,255,255, .85);
  background: rgba(0,0,0, .7);
  outline: 0;
  box-shadow: none;
}

.btn-light {
  background: #f3f3f3;
  color: #000;
}

.call-btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 20px;
  font-size: 12px;
  border-radius: 0;
  border: none;
  outline: none;
  display: inline-block;
}

.btn-gray {
  color: #777;
  background: #e5e5e5;
}

/*
==============================================
FORM
==============================================
*/

.form-group {
  margin-bottom: 20px;
}

.form-control {
  font-size: 12px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 1px;
  height: auto;
  padding: 9px 12px;
    -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.form-control:focus {
  color: #111;
  border-color: rgba(0,0,0, .7);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

/*
==============================================
PRELOADER
==============================================
*/

#preloader {
  background-color: #FFF;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999;
}

#loading-animation {
  background-image: url("../img/loader.GIF") ;
  opacity: 0.7;
  background-position: center center;
  background-repeat: no-repeat;
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px;
  border-radius: 4px;
}

/*
==============================================
HEADER
==============================================
*/

header .navbar .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  width: 70%;
}

header .navbar-nav li:hover {
  color: gray;
}  */

.navbar {
  min-height: 150px;
  margin: auto auto;
  /* padding-top: 10px; */
}

.navbar-default {
  background: #fff;
  width: 100%;
  margin-bottom: 0;
  position: absolute;
  margin-top: 0;
}

header .navbar-brand img:hover {
  opacity: 0.5;
}

.navbar.active {
  position: fixed;
  opacity: 0.95;
}

.navbar-nav {
  margin: 25px -10px;
  
}


.navbar .navbar-collapse .navbar-nav li {
  font-weight: 700;
  font-size: 18px;
  color: black;
  font-family: 'TradeGothicLTStd', 'Libre Franklin', sans-serif;
}

.navbar-default .navbar-nav > li > a {
  color: black;
  text-transform: uppercase;
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -ms-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > 
.active > a:focus {
  background: transparent;
  text-decoration: underline;
  color: black;

}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: gray;
}

.dropdown-menu {
  top: 117%;
  font-size: 12px;
  text-transform: uppercase;
    -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;
  border-top: 0;
  padding: 12px 5px;
}

.dropdown-menu>li>a {
  padding: 3px 15px;
  line-height: 1.7;
  letter-spacing: 2px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-color: #fff;
  color: gray;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: #fff;
  color: gray;
}

.navbar-default .dropdown:hover>.dropdown-menu {
  display: block;
}

/*
==============================================
HERO
==============================================
*/

#hero-section {
  position: relative;
  display: table;
  width: 100%;
}

.home-hero:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-content {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 2;
  text-align: center;
}

.hero-content h1, p.hero {
  color: #fff;
}

.hero-content h1 {
  font-family: 'TradeGothicLTStd-Bold', 'Libre Franklin', sans-serif;
  font-weight: 700;
  letter-spacing: 8px;
  padding-bottom: 20px;
}

.div-line {
  width: 70px;
  background-color: #fff;
  height: 3px;
  margin: 20px auto;
}

p.hero {
  font-family: 'TradeGothicLTStd', 'Libre Franklin', sans-serif;
  color: #fff;
  padding-top: 15px;
  font-size: 24px;
  line-height: 32px;
  display: block;
  margin-top: 20px;
}

.hero-btn {
  margin-top: 50px;
}

ul.caption-slides {
  padding-left: 0;
}

ul.caption-slides li {
  text-align: center;
}


/*
==============================================
START
==============================================
*/

.about-studio h4, .what-do h4, .process-work h4 {
  letter-spacing: 2px;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 15px;
}

.btn-link-a {
  cursor: pointer;
  color: rgba(17, 17, 17, 0.9);
  text-transform: uppercase;
  display: block;
  font-weight: 500;
  margin-top: 25px;
}

.btn-link-a:hover {
  color: gray;
}

#about-section {
  padding: 110px 0 120px 0!important;
}

.big-title-sec {
  text-align: center;
  padding-bottom: 100px;
}


.big-title-sec hr {
  border: 1.5px solid #000;
  margin: 30px auto;
  width: 80px!important;
  margin-bottom: 50px;
}

.big-title-sec .big-title {
  font-weight: 400;
  text-transform: none;
  font-size: 24px;
  color: black;
  padding: 2px auto;
}

.big-title-sec .big-subtitle {
  font-family: 'TradeGothicLTStd', 'Libre Franklin', sans-serif;
  letter-spacing: 1.3px;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.45;
  text-transform: none;
  color: #000;
}

.title-section .big-text {
  font-size: 42px;
  line-height: 1.5;
  letter-spacing: 1.5px;
  font-weight: 300;
  color: lightslategray;
}

.title-section p {
  padding-bottom: 24px;
}


.big-title-sec .view-more {
  padding-top: 50px;
}

.big-title-sec .view-more a.btn-primary {
  margin-right: 2px;
}

.big-title-sec .view-more a.btn-primary:hover {
  opacity: .8;
  background: black;
  border: 1px solid black;
}

.about-box {
  text-align: center;
}

.alt-about-icon {
  padding-top: 10px;
  font-size: 44px;
  line-height: 0.9;
  color: black;
}

.about-box h4 {
  font-weight: 600;
  letter-spacing: 1.7px;
  padding-top: 15px;
  padding-bottom: 8px;
}

.design-thinking {
  margin-top: -80px;
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.design-thinking img {
  margin: 24px auto;
}

.design-thinking p {
  text-align: justify;
  font-size: 14px;
}


/*
==============================================
DISCOVER
==============================================
*/

#features-section .title-section {
  padding-bottom: 40px;
}

.features-image {
  text-align: center;
}

.choose-image {
  text-align: center;
}

ul.features-list {
  list-style: none;
  padding: 0;
  padding-top: 40px;
}

ul.features-list li {
  margin-bottom: 30px;
}

.iconbox {
  float: left;
  width: 24px;
  height: 24px;
  text-align: center;
}

#feature-section .iconbox i {
  font-size: 16px;
}


.features-box-content {
  margin-left: 40px;
}

.features-box-content p {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 14px;
}


/*
==============================================
COMPETITOR ANALYSIS
==============================================
*/

.offer-boxes {
  margin-top: -100px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;

}

.logo-sec {
  width: 18%;
  padding: 10px;
  box-sizing: border-box;
 margin: 2px;
}

.offer-boxes .title-section {
  padding-bottom: 20px;
  
}

.offer-boxes p {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 14px;
  text-align: left;
}

.offer-boxes h5 {
  font-size: 16px;
  font-weight: bold;
  text-transform: none;
}


/*
==============================================
DEFINE
==============================================
*/

#banner-services {
  background: url('../img/2101-inflation-map.png') center top;
  position: relative;
  border-bottom: 1px solid transparent;
  background-size: cover;
}

#banner-services:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: rgba(5,5,5,0.7);
  width: 100%;
  height: 100%;
  z-index: 2;
}

#banner-services .container {
  position: relative;
  z-index: 3;
}

.banner-content {
  margin: 140px 0;
}

.banner-content h2 {
  color: rgba(255, 255, 255, 0.85);
}

#banner-services p {
  color: white;
  opacity: 0.9;
  font-size: 14px;
}

.banner-decription {
  font-weight: 300;
}

.banner-image {
    margin: -40px 0 0 0;
    text-align: right;
    padding-bottom: 5px;
}

.banner-content a {
  letter-spacing: 1.6px;
  margin-top: 30px;
}

/*
==============================================
Personas
==============================================
*/


#team-section .title-section {
  margin-bottom: 80px;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 100px;
}


#team-section .title-section, .team-members .magnifier-inner {
  text-align: center;
}

.member-team {
  position: relative;
  cursor: pointer;
}

.member-team img {
  padding-top: 20px;
}

.member-team .magnifier {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
}

.member-team .magnifier:hover {
  opacity: 1;
}

.member-team .magnifier .magnifier-inner {
  position: absolute;
  width: 100%;
  top: 20%;
  padding: 0 20px;
}

.member-team .magnifier .magnifier-inner p {
  font-size: 13px;
  color: gray;
  line-height: 20px;
  margin-bottom: 40px;
}


/*
==============================================
User Journey & Mental Map
==============================================
*/

#features-app-section-1, #features-app-section-2 {
  padding: 80px 0;
}

.features-app-content-right {
  padding-top: 24px;
}

#features-app-section-1 h2, #features-app-section-2 h2 {
  margin-bottom: 24px;
}

#features-app-section-1 p {
  margin-bottom: 20px;
  line-height: 24px;
  letter-spacing: 1.2px;
  font-weight: 300;
}

ul.features-app-list {
  list-style-type: none;
  padding-left: 0;
  padding-top: 10px;
}

ul.features-app-list li {
  margin-bottom: 10px;
}

#feature-app-section-2 ul.features-app-list li {
  margin-bottom: 15px!important;
}

.feature-app-box-content p {
  margin-top: 0;
  font-size: 14px;
  letter-spacing: 1.2px;
  margin-bottom: 20px!important;
  font-weight: 300;
}

.features-app-content-left {
  padding-top: 40px;
}

#features-app-section-2 ul.features-app-list {
  padding-top: 50px;
}

#features-app-section-2 ul.features-app-list li {
  margin-bottom: 15px;
}

#features-app-section-2 .feature-app-box-content {
  display: table;
}


#features-app-section-2 p {
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 1.2px;
}



/*
==============================================
Usability Testing
==============================================
*/

#testing {
  background: url('../img/2102-usability-testing.png') center top;
  position: relative;
  border-bottom: 1px solid transparent;
  background-size: cover;
  padding-top: 20px;
}

#testing:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: rgba(5,5,5,0.7);
  width: 100%;
  height: 100%;
  z-index: 2;
}

#testing .container {
  position: relative;
  z-index: 3;
}

#testing .banner-content {
  margin-left:100px;
}


#testing p ul li {
  color: white;
  opacity: 0.9;
  font-size: 16px;
}

#testing p {
  color: white;
  opacity: 0.9;
  font-size: 16px;
}

.mifi {
  margin-right: 100px;
  text-align: right;
  opacity: 0.9;
}



/***********************************************************************************************/
/* =Choose Section */
/***********************************************************************************************/

#choose-section .title-section, #soon-services-section .title-section {
  padding-bottom: 80px;
}

.choose-image, .soon-services-image {
  text-align: center;
}

ul.choose-list, ul.soon-list {
  list-style: none;
  padding: 0;
  padding-top: 50px;
}

ul.choose-list li, ul.soon-list li {
  margin-bottom: 30px;
}

.iconbox {
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
}

.iconbox i {
  font-size: 32px;
  color: black;
}

.choose-box-content, .soon-box-content {
  margin-left: 70px;
}

.choose-box-content h6, .soon-box-content h6 {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

/***********************************************************************************************/
/* =Projects Section */
/***********************************************************************************************/

#projects-section {
  padding: 100px 0 80px 0!important;
}

#projects-section .title-section {
  padding-bottom: 80px;
}

#type-masory {
  width: 100%;
}

#projects-section #type-masory .project {
  overflow: hidden;
  margin-bottom: 30px;
}

.project-item a {
  position: relative;
  display: block;
}

.project-item a img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/*Overlay projects*/

.overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: rgba(15, 15, 15, 0.9);
  opacity: 0;
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
}

.overlay .overlay-inner {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  bottom: 0;
}

.overlay .overlay-inner h3 {
  color: #F0F0F0;
  margin-bottom: 15px;
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
      -ms-transition: all .5s;
       -o-transition: all .5s;
          transition: all .5s;
  -webkit-transform: translateY(-30px);
     -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
       -o-transform: translateY(-30px);
          transform: translateY(-30px);
}

.overlay .overlay-inner p {
  color: #DBDBDB;
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
      -ms-transition: all .5s;
       -o-transition: all .5s;
          transition: all .5s;
  -webkit-transform: translateY(30px);
     -moz-transform: translateY(30px);
      -ms-transform: translateY(30px);
       -o-transform: translateY(30px);
          transform: translateY(30px);
  margin-bottom: 15px;
}

a:hover .overlay .overlay-inner h3 {
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
}

a:hover .overlay .overlay-inner p, a:hover .overlay .overlay-inner span {
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
}

.overlay-inner span {
  font-size: 42px;
  color: #DBDBDB;
  font-weight: 300;
  -webkit-transition: all .7s;
     -moz-transition: all .7s;
      -ms-transition: all .7s;
       -o-transition: all .7s;
          transition: all .7s;
  -webkit-transform: translateY(30px);
     -moz-transform: translateY(30px);
      -ms-transform: translateY(30px);
       -o-transform: translateY(30px);
}

a:hover .overlay {
  opacity: 1;
}

.view-more {
  text-align: center;
  padding-top: 60px;
}

#masonry-projects-section {
  padding: 0 0 100px 0;
}

#masonry-projects-section #type-masory .project {
  padding-bottom: 30px;
}




/***********************************************************************************************/
/* =Landing page*/
/***********************************************************************************************/

.landing-hero:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.landing-hero {
  background: url('../img/2101-landing.jpg');
  background-size: cover;
}


/*--------------------
  Video section
----------------------*/

#video-section {
  background: url('../images/temp/tweet-bg.jpg') center top;
  position: relative;
  padding: 100px 0;
}

#video-section:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: black;
  opacity: .9;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#video-section .container {
  position: relative;
  z-index: 3;
}

#video-section .video-section-content a {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  border: 3px solid rgba(255,255,255, .93);
  text-align: center;
  line-height: 78px;
  font-size: 28px;
  color: rgba(255,255,255, .93);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#video-section .video-section-content a .fa-play {
  position: relative;
  left: 4px;
}

.video-head {
  font-size: 38px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  color: #fff;
  padding-bottom: 7px;
}

.video-sub-heading {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  line-height: 1.3;
  opacity: .9;
  color: #fff;
}

/*--------------------
  Offer section
----------------------*/

#landing-offer .title-section h2 {
  padding-bottom: 10px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.offer-post {
  padding: 30px 0;
}

.offer-post h4 {
  margin-top: 15px;
  margin-bottom: 20px;
  text-transform: none;
  font-weight: 500;
}

.offer-icon {
  font-size: 42px;
  color: black;
  padding-bottom: 15px;
}

/*--------------------
  Screenshots
----------------------*/

#screenshots-section .title-section {
  padding-bottom: 40px;
}

.screenshots-carousel .shot {
  padding: 4px;
}


.screenshots-carousel .shot a.zoom {
  display: block;
}

.screenshots-carousel .shot a img {
  border-radius: 3px;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.screen img {
  border: 1px solid lightgray;

}


#screenshots-section h4 {
  padding-bottom: 20px;
}

#screenshots-section p{
  text-align: justify;
}

#screenshots-section li {
  font-family: 'FuturaLT', 'Lato', sans-serif;
}


#prototype-final {
  padding-top: 40px;
}






/***********************************************************************************************/
/* PROTOTYPE*/
/***********************************************************************************************/

#prototype-final {
  position: relative;
  background: url('../img/2102-plutopay/2102-argentina.png') center top;
  padding: 80px 0!important;
  background-size: cover;
  padding-top: 20px;
}


#prototype-final:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: rgba(5,5,5,0.7);
  width: 100%;
  height: 100%;
  z-index: 2;
}

#prototype-final .container {
  position: relative;
  z-index: 3;
}

#prototype-final .banner-content {
  margin-left:100px;
}


#prototype-final p, ul li {
  color: white;
  opacity: 0.9;
  font-size: 14px;
}



/*
==================================================
IMPRESSUM
==================================================
*/

.impressum {
  width: 70%;
  padding: 40px;
  
}


/*
==================================================
FOOTER
==================================================
*/

footer {
    margin: 20px auto;
}


.footer a:hover {
    color: gray;
}

.footer p {
  text-align: center;
}

/***********************************************************************************************/
/* =Back to top */
/***********************************************************************************************/

.back-to-top {
  text-align: center;
  background: gray;
  color: white;
  display: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  opacity: 0.7;
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
  cursor: pointer;
  z-index: 9999
}

.back-to-top:hover {
  opacity: .9;
}

/***********************************************************************************************/
/* RESPONSIVE */
/***********************************************************************************************/

@media screen and (max-width: 1200px) {

  #about-section .about {
    padding-top: 40px;
  }

}

@media screen and (max-width: 992px) {

  body {
    padding-top: 55px;
  }

  .navbar .container {
    width: 95%!important;
  }

  .entry-post {
    padding-bottom: 35px;
  }

  #type-masory {
    width: auto;
}

  #about-section .about {
    padding: 90px 70px;
  }

  .member-team .magnifier .magnifier-inner {
    padding: 0 10px;
  }

  .member-team .magnifier .magnifier-inner p:last-of-type {
    display: none;
  }

  ul.price-table {
    margin-left: 0;
    margin-right: 0;
  }

  .banner-image {
    margin-top: 40px!important;
  }

  .gallery-masory {
    width: auto;
  }

  .contactform {
    padding: 80px 10px;
  }

  .portfolio-desc .col-sm-4 {
    margin-bottom: 20px;
  }

  .portfolio-rel figure {
    margin-bottom: 20px;
  }

  .form-inline .form-control, .form-inline .form-group {
    display: block;
  }

  .newsletter-field {
    width: 100%;
  }

  #subscribe-section #subscribe-button {
    display: block;
    width: 100%;
  }

  #blog-head {
    text-align: center!important;
  }

  #search-form {
    margin-top: 30px;
  }

  .breadcrumb {
    text-align: center;
  }

}

@media screen and (max-width: 768px) {

  .navbar .container {
    width: auto;
  }

  .big-title-sec .view-more a {
    margin: 5px 0;
  }

  .hero-content h1 {
    font-size: 38px;
  }

  .soon-countdown div span:first-child {
    font-size: 60px;
  }

  .creative-content-left {
    padding-top: 0;
  }

   #creative-section-1 .view-more {
    text-align: center!important;
   }

 #creative-section-2 .view-more {
    margin-bottom: 80px;
    text-align: center!important;
  }

  .about-studio, .what-do {
    padding-bottom: 35px;
  }

  .member-team {
    margin-bottom: 30px;
  }

  .member-team .magnifier .magnifier-inner {
    padding: 0 30px;
 }

  .member-team .magnifier .magnifier-inner p:last-of-type {
    display: block;
  }

  .banner-content {
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
  }

  .banner-image {
    text-align: center;
    margin-bottom: 40px;
  }

  .client img {
    width: 70%!important;
  }

  .about-me h4 a {
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 640px) {
  
  h1, .h1 {
    font-size: 40px;
  }

    .hero-content h1 {
    font-size: 33px;
  }

  .soon-countdown div span:first-child {
    font-size: 50px;
  }

  p.hero {
    font-size: 14px;
    line-height: 24px;
  }

  .big-title-sec .big-title {
    font-size: 20px;
  }

  .big-title-sec .big-subtitle {
    font-size: 28px;
  }

  .big-title-sec p {
    font-size: 14px;
  }

  #action-section {
    text-align: center;
  }

  #action-section h2 {
    line-height: 1.4;
  }

  #action-section .btn+.btn {
    margin-left: 0;
    margin-top: 20px;
  }

  .client img {
    width: 100%!important;
  }

}

@media screen and (max-width: 480px) {
  .back-to-top {
    visibility: hidden;
  }
}