@font-face {
  font-family: 'TradeGothicLTStd-Bold';
  src: url("../fonts/trade_gothic_lt_std_bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothicLTStd';
  src: url("../fonts/trade_gothic_lt_std.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothicLTS-Light';
  src: url("../fonts/trade_gothic_lt_light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'din-bold';
  src: url("../fonts/DIN-Bold.woff.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaLT';
  src: url("../fonts/FuturaLT.woff") format("woff"), url("../fonts/FuturaLT.woff2") format("woff2"); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'FuturaLT-Light';
src: url("../fonts/FuturaLT-Light.woff") format("woff"), url("../fonts/FuturaLT-Light.woff2") format("woff2"); 
font-weight: thin;
font-style: normal;
}

@font-face {
font-family: 'FuturaLT-Heavy';
src: url("../fonts/FuturaLT-Light.woff") format("woff"), url("../fonts/FuturaLT-Light.woff2") format("woff2"); 
font-weight: bold;
font-style: normal;
}


/*
==============================================
BASE
==============================================
*/

#loader{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: white url('img/loader.gif') no-repeat center;
	z-index: 999;
}


body {
  font-family: 'FuturaLT', 'Lato', sans-serif;
  font-size: 16px;
}

a {
  color: black;
}

a:hover {
color: gray;
}


h2 {
  font-family: 'TradeGothicLTStd-Bold', 'Lato', sans-serif;
}

p {
  line-height: 1.6;
  font-size: 1.1rem;
  text-align: justify;
  text-justify: inter-word;
}



/*
==============================================
HEADER
==============================================
*/

header {
  min-height: 150px;
  margin: auto auto;
  position: relative;
}

header .navbar .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  width: 70%;
}

header .navbar-brand img:hover {
  opacity: 0.5;
}

header .navbar .container .nav-item .nav-link {
  font-family: 'TradeGothicLTStd', 'FuturaLT-Heavy', sans-serif;
  font-weight: 700;
  font-size: 1.15rem;
  color: black;
}

header .navbar .container .nav-item .nav-link:hover {
  color: gray;
}

header .navbar .container .nav-item .nav-link:active {
  text-decoration: underline;
}

.my-logo {
  height: 40px;
  width: auto;
  
}

/*
=================================================
HERO TEXT
=================================================
*/

.section-slogan {
  margin: auto auto;
  padding-top: 75px;
  padding-bottom: 75px;
  width: 70%;
  position: relative;
  display: block;
}

.section-slogan .container {
padding: 50px 0;
}


.section-slogan h1,
.section-slogan h2 {
font-family: 'TradeGothicLTStd-Bold', 'Lato', sans-serif;
margin: 0;
}

.section-slogan h1 {
  font-size: 55px;
  line-height: 1.1;
}

.section-slogan h1 strong {
display: block;
}

.section-slogan h2 {
  font-size: 19px;
  letter-spacing: .1em;
}


.section-slogan .sub-title {
font-family: 'TradeGothicLTStd-Bold', 'Libre Franklin', sans-serif;
max-width: 29rem;
line-height: 1.6;
margin: 24px 0 0 8px;
letter-spacing: 0.03em;
font-size: 15px;
}

.section-slogan .sub-title br {
  display: none;
}



/*
==================================================
MY WORK
==================================================
*/

.my-work {
  margin-right: auto;
  margin-left: auto;
  padding: 2px;
  margin-bottom: 10px;
  max-width: 1440px;
  width: 100%;
  min-height: auto; 
}

.my-item {
  min-height: auto;
  top: 0;
  left: 0;
  padding: 3px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}


.my-item:before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: rgba(0, 0, 0, 0.88);
  opacity: 0;
  transition: all 300ms ease;
}

.my-item img {
  width: 100%;
  height: 100%;
}

.my-item img:hover {
  filter: none;
 
}



.my-item .my-title {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.my-item .my-title h2 {
  margin-bottom: 5px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  margin: 10px;
  vertical-align: middle;
  cursor: pointer;
}


.my-item .my-title h2 {
  text-align: center;  
  padding: 10px 0;
  font-size: 2.75rem;
}

.my-item .my-title h4 {
  padding: 50px 0;
  font-size: 1.2rem;
}


.my-item:hover:before {
  opacity: 0.4;
}

.my-item:hover .my-title {
  opacity: 1;
  visibility: visible;
  bottom: 30px;
  color: white;
}

/*
==================================================
SERVICES
==================================================
*/

#services {
   padding: 20px 60px;
   margin: auto auto;
   display: block;
   width: 70%;
  }


.service{
	border: 1px solid lightgray;
	margin-top: 20px;
	margin-bottom: 50px;
	transition: all 0.3s;
	position: relative;
	padding: 50px 10px;
}



.service:hover{
	border-color: gray;
	margin-top: 0px;
	margin-bottom: 0px;
	cursor: pointer;
	padding-top: 40px;
	padding-bottom: 40px;
}

#services h3 {
  font-family: 'TradeGothicLTS-Light';
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 1.1;
}
.service p {
	font-size: 14px;
	padding-top: 20px;
	font-family: 'FuturaLT', 'Lato', sans-serif;
  color: lightgray;
}

.space { 
  padding-top: 40px; 
}

.section-title {
  width: 100%;
  margin: auto;
}


/*
==================================================
ABOUT
==================================================
*/

.about-me {
  margin: auto auto;
  padding-top: 100px;
  padding-bottom: 75px;
  width: 80%;
  position: relative;

}

.profile-pic {
  border-radius: 100%;
  width: 80%;
  height: auto;
  display: block;
  z-index: 2;
  position: relative;
 
}


.social_widget .f_title h4 {
font-family: 'Amatic SC', cursive;
font-weight: 700;
font-size: 2rem;
margin: auto auto;
color: #000;
padding-top: 10px;
}

.social_widget .list a i {
  margin: 0;
  display: inline-block;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2.2rem;
  text-decoration: none;
}

.social_widget .list a {
  color: black;
  font-size: 32px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.social_widget .list li:last-child {
  margin-right: 0px;
}

.social_widget .list a:hover {
  color: gray;
}

.my-text {
line-height: 1;
}


/*
==================================================
TESTIMONIALS
==================================================
*/

.testimonials {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  width: 90%;
}

figure.tbox {
  position: relative;
  margin: 10px;
  min-width: 240px;
  max-width: 300px;
  width: 100%;
  color: white;
  opacity: 0.9;
  text-align: left;
  font-size: 1rem;
font-family: 'FuturaLT-Light', 'Lato', sans-serif;
  box-shadow: none !important;
}

figure.tbox * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.tbox img {
  max-width: 100%;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 2px solid lightgray;
  display: block;
  z-index: 1;
}

figure.tbox blockquote {
  margin: 0;
  display: block;
  /* border-radius: 8px; */
  position: relative;
  background-color: transparent;
  /* border: 2x solid white; */
  padding: 30px 20px 25px 20px;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0;
  line-height: 1.6;
  /* box-shadow: 0 0 5px rgba(218, 218, 218, 0.15); */
}

figure.tbox blockquote:before,
figure.tbox blockquote:after {
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.tbox blockquote:before {
  top: 35px;
  left: 20px;
}
figure.tbox blockquote:after {
  /* content: "\201D"; */
  right: 20px;
  bottom: 35px;
}
figure.tbox .author {
  margin: 0;
  height: 80px;
  display: block;
  text-align: left;
  color: #ffffff;
  padding: 0 25px;
  position: relative;
}
figure.tbox .author h5,
figure.tbox .author span {
  left: 35%;
  position: absolute;
  opacity: 0.8;
  padding: 3px 5px;
}
figure.tbox .author h5 {
  text-transform: uppercase;
  bottom: 50%;
  margin: 0;
  font-weight: 700;
  color: white;
}
figure.tbox .author span {
  font-size: 0.8em;
  color: #ffffff;
  opacity: 0.9;
  top: 50%;
}




/*
==================================================
IMPRESSUM
==================================================
*/

.impressum {
width: 70%;

}


/*
==================================================
FOOTER
==================================================
*/

footer {
  margin: 20px auto;
}

.myfooter {
  max-height: 200px;
  background-color: white;
  text-justify: inter-word;
}



.footer a:hover {
  color: gray;
}

.footer p {
text-align: center;
}

/*
==================================================
RESPONSIVE
==================================================
*/

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 


} 

/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) { 
.section-slogan .container {
  padding: 40px 0;
}

.section-slogan h1 {
  font-size: 3.5rem;
  line-height: 1.15;
}

.section-slogan h2 {
  font-size: 19px;
}

.section-slogan .sub-title {
  line-height: 2;
  font-size: 16px;
  max-width: 651px;
}

.profile-pic {
  width: 60%;
  height: auto;
}

.my-logo {
  width: auto;
  height: 60px;
}

#services {
  width: 100%;
 }

 .section-title {
  width: 85%;
  margin: auto;
}



.testimonials {
  width: 80%;
  margin:
}

.tablet-hidden {
  display: none;
}



}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

.section-slogan .container {
  padding: 75px 0;
}

.section-slogan h1 {
  font-size: 80px;
}

.section-slogan h2 {
  font-size: 22px;
}

.section-slogan .sub-title {
  line-height: 2;
  font-size: 16px;
  max-width: 651px;
}

.my-item .my-title {
  bottom: 50px;
  font-size: 16px;
}

.my-item .my-title h2,
.my-item .my-title h4 {
  padding: 20px 0; 
}

.my-text {
padding-left: 30px;
}

.navbar .navbar-brand img {
width: auto;
height: 100px;
}

.section-title {
  width: 70%;
  margin: auto;
}



.profile-pic {
  width: 40%;
  height: auto;
}

.my-logo {
  width: auto;
  height: 70px;
}

#services {
  width: 100%;
 }

 .testimonials {
  width: 95%;
}

.tablet-hidden {
  display: none;
}

}








/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

.section-slogan h1 {
  font-size: 8.625rem;
}

.section-slogan h2 {
  font-size: 37px;
}

.section-slogan .sub-title {
  line-height: 2.4;
  margin: 24px 0 0 8px;
  letter-spacing: 0.13em;
  font-size: 18px;
}

.my-item .my-title h2 {
  padding: 10px 0; 
  font-size: 3rem;
}

.my-item .my-title h4 {
padding: 50px 0; 
}

.my-text {
padding-left: 50px;
}

.profile-pic {
  width: 90%;
  height: auto;
}

.my-logo {
  width: auto;
  height: 60px;
}

#services {
  width: 85%;
  margin: auto;
 }

 .section-title {
  width: 65%;
  margin: auto;
}


 .testimonials {
  width: 95%;
}

figure.tbox {
  
  margin: 0px;
  min-width: 240px;
  max-width: 300px;
}

.tablet-hidden {
  display: block;
}

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

  .my-item .my-title h2 {
      padding: 10px 0; 
      font-size: 3.2rem;
  }
  
  .my-item .my-title h4 {
    padding: 50px 0; 
  }

  .my-text {
    padding-left: 60px;
   }

   .profile-pic {
    width: 60%;
    height: auto;
  }

  .my-logo {
    width: auto;
    height: 40px;
  }

  .my-logo {
    height: 80px;
    width: auto;
  
  }

  .testimonials {
    width: 80%;
  }

  .section-title {
    width: 50%;
    margin: auto;
  }

}


/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

  .testimonials {
    width: 80%;
  }

  .section-title {
    width: 50%;
    margin: auto;
  }
  
  


  figure.tbox {
    position: relative;
    margin: 10px;
    min-width: 280px;
    max-width: 320px;
    width: 100%;
  }

  
}