@font-face {
  font-family: 'TradeGothicLTStd-Bold';
  src: url("../fonts/trade_gothic_lt_std_bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothicLTStd';
  src: url("../fonts/trade_gothic_lt_std.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothicLTS-Light';
  src: url("../fonts/trade_gothic_lt_light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'din-bold';
  src: url("../fonts/DIN-Bold.woff.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaLT';
  src: url("../fonts/FuturaLT.woff") format("woff"), url("../fonts/FuturaLT.woff2") format("woff2"); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'FuturaLT-Light';
src: url("../fonts/FuturaLT-Light.woff") format("woff"), url("../fonts/FuturaLT-Light.woff2") format("woff2"); 
font-weight: thin;
font-style: normal;
}

@font-face {
font-family: 'FuturaLT-Heavy';
src: url("../fonts/FuturaLT-Light.woff") format("woff"), url("../fonts/FuturaLT-Light.woff2") format("woff2"); 
font-weight: bold;
font-style: normal;
}


/*
==============================================
BASE
==============================================
*/

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

 [type="search"]::-webkit-search-cancel-button,
 [type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
 }
 
 /**
  * Correct the text style of placeholders in Chrome, Edge, and Safari.
  */
 
 ::-webkit-input-placeholder {
   color: inherit;
   opacity: 0.54;
 }
 
 /**
  * 1. Correct the inability to style clickable types in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */
 
 ::-webkit-file-upload-button {
   -webkit-appearance: button;
   /* 1 */
   font: inherit;
   /* 2 */
 }
 

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}


.clearfix:after {
  clear: both;
}

.rteleft {
  text-align: left;
}

.rtecenter {
  text-align: center;
}

.rteright {
  text-align: right;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

html.desktop a[href^="tel"] {
  cursor: default;
  pointer-events: none;
}

body {
  min-height: 100%;
  height: 100%;
  min-width: 320px;  
  font-family: 'FuturaLT', 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #232323;
  
}

*,
:after,
:before {
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.2;
}

h2,
h3 {
  text-transform: uppercase;
  letter-spacing: .12em;
}

h2 {
  font-family: 'TradeGothicLTStd-Bold', 'Lato', sans-serif;
  font-size: 1.25rem;
  margin: 0 0 20px;
}

h3 {
  font-size: 1.1rem;
  font-family: 'TradeGothicLTStd-Bold', 'Lato', sans-serif;
  margin: 0 0 10px;
}


a {
  color: #232323;
  text-decoration: none;
}

a:hover {
color: gray;
text-decoration: underline;
}

ul,
ol {
  margin: 0;
  padding: 0 0 0 16px;
}

ul li,
ol li {
  margin: 0 0 16px;
  padding: 0;
}

p {
  line-height: 1.5;
  font-size: 1rem;
  text-align: justify;
  text-justify: inter-word;
  margin: 0 0 16px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  width: 90%;
  position: relative;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}

/* 
.col-sm-6,
.col-md-4,
.col-lg-3 {
  position: relative;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
}

.col-12 {
  float: left;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
} */


/*
==============================================
PRELOADER
==============================================
*/

#preloader {
  background-color: #FFF;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999;
}

#loading-animation {
  background-image: url("../img/loader.GIF") ;
  opacity: 0.7;
  background-position: center center;
  background-repeat: no-repeat;
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px;
  border-radius: 4px;
}

/*
==============================================
HEADER
==============================================
*/

header {
  min-height: 150px;
  margin: auto auto;
  position: relative;
  display: block;
}

header .navbar .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  width: 80%;
}

.navbar .navbar-brand img:hover {
  opacity: 0.5;
}

.navbar .nav-item .nav-link {
  font-family: 'TradeGothicLTStd', 'FuturaLT-Heavy', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #232323;
}

.navbar .nav-item .nav-link:hover {
  color: gray;
}

.navbar .nav-item .nav-link:active {
  text-decoration: underline;
}

.navbar-brand img {
  height: 40px !important;
  width: auto;
}


/*
=================================================
HERO TEXT
=================================================
*/

.section-slogan {
  margin: auto auto;
  padding-top: 16px;
  padding-bottom: 30px;
  width: 85%;
  position: relative;
  display: block;
}

.section-slogan .container {
padding: 50px 0;
}

.section-slogan h1,
.section-slogan h2 {
font-family: 'TradeGothicLTStd-Bold', 'Lato', sans-serif;
margin: 0;
}

.section-slogan h1 {
  font-size: 3.2rem;
  line-height: 1.2;
}

.section-slogan h1 strong {
display: block;
}

.section-slogan h2 {
  font-size: 1.15rem;
  letter-spacing: .1em;
}

/*
==================================================
MY WORK
==================================================
*/

.gallery-filter .container {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 85%;
  position: relative;
  display: block;
  transition: 1.3s;
}

.navigation a {
  font-family: 'TradeGothicLTStd-Bold', 'Lato', sans-serif;
  text-decoration: none;
  padding: 5px;
  border-right: 1px solid #232323;
  color: #232323;
  font-size: 1.05rem;
 
}

.navigation {
  margin-left: 0;
  padding-left: 0;
  align-items: left;
}

.no-padding {
  padding-left: 0;
  margin-left: -10px;
}

.navigation a:hover{
  color:gray;
}

.navigation a.active{
  text-decoration: underline;
}



.section-work {
  padding: 2px;
  margin-bottom: 10px;
}

.section-work .row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.section-work, .item {
  position: relative;
}

.section-work .item .clip {
  position: relative;
  padding-bottom: 100%;
}

.section-work .item .wrap {
  overflow: hidden;
  padding: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-work .item .wrap:before {
  content: '';
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: rgba(0, 0, 0, 0.88);
  opacity: .4;
  transition: opacity .8s;
  z-index: 1;
}

.section-work .item .wrap:hover:before {
  opacity: 1;
}

.section-work .item .wrap:hover .subtitle {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.section-work .item .wrap:hover .img img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.section-work .item img {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}


.section-work .item .img img {
  width: 100%;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.section-work .subtitle {
  position: absolute;
  width: 100%;
  margin: auto auto;
  bottom: 10px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  z-index: 99;
  transition: all .8s;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
}


.item .subtitle h2 {
  margin-bottom: 5px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  /* top: 80px; */
  vertical-align: middle;
  cursor: pointer;
  text-align: center;  
  padding: 10px 0;
  font-size: 1.75rem;
}

.item .subtitle h4 {
  padding: 40px 0;
  font-size: 1.05rem;
  bottom: 20px;
}


.section-work .item:hover .subtitle {
  opacity: 1;
}

.item:hover .subtitle {
  visibility: visible;
  bottom: 20px;
  color: #fff;
}


.mobile-hidden {
  display: none;
}


/*
==================================================
PHILOSOPHY
==================================================
*/

.section-text {
  background: #202020;
  padding-top: 50px;
  padding-bottom: 80px;
}

.section-text .container {
  margin: auto;
  width: 80%;

}

.philosophy {
  font-family: 'TradeGothicLTS-Light', sans-serif;
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  line-height: 1.7;
  letter-spacing: 1.2;
  padding-top: 30px;
  letter-spacing: .1rem;
  text-align: center;

}

.section-text cite {
  color: #9B9B9B;
  font-family: 'FuturaLT', 'Lato', sans-serif;
  font-size: 1rem;
  padding-bottom: 50px;
  margin-bottom: 50px;
}



/*
==================================================
ABOUT
==================================================
*/

.about-me {
  margin: auto auto;
  padding-top: 100px;
  padding-bottom: 75px;
  width: 80%;
  position: relative;

}

.profile-pic {
  border-radius: 100%;
  width: 80%;
  height: auto;
  display: block;
  z-index: 2;
  position: relative;
 
}

.social_widget .f_title h4 {
font-family: 'Amatic SC', cursive;
font-weight: 700;
font-size: 2rem;
margin: auto auto;
color: #232323;
padding-top: 10px;
}

.social_widget .list a i {
  margin: 0;
  display: inline-block;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2rem;
  text-decoration: none;
}


.social_widget .list a {
  color: #232323;
  font-size: 24px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.social_widget .list li:last-child {
  margin-right: 0px;
}


.social_widget .list a:hover {
  color: lightgray;
}

.my-text {
font-size: 1.1rem;
line-height: 1;
}


/*
==================================================
TESTIMONIALS
==================================================
*/

#testimonials-section {
  margin: auto;
  display: block;
  padding: 80px 0;
  /* text-align: center; */
  position: relative;
  width: 100%;
  /* justify-content: center; */
  background: #202020;

}

#testimonials-section cite {
  color:rgb(193, 193, 193);
  font-size: 1rem;
}


@media (max-width:767px) {

#testimonials-section .people {
  padding: 10px 0 20px 0;
}

#testimonials-section .quote {
  padding-bottom:30px;
} 
}



#testimonials-section .quote .box {
  width: 90%;
  margin: auto auto;
  padding:30px;
  background-color:#2d2d2d;
  position:relative;
}

#testimonials-section .quote .box:after {
  content:'';
  position:absolute;
  left:20px;
  bottom:-24px;
  width:0;
  height:0;
  border:15px solid transparent;
  border-width:12px 15px;
  border-top-color:#2d2d2d;
}

#testimonials-section .quote .author {
  width: 90%;
  margin-top:28px;
  margin-bottom: 20px;
  padding-left:25px;
  text-align: left;
  text-justify: inherit;
}

#testimonials-section .quote .name {
  /* font-weight:bold; */
  margin-bottom:2px;
  color: white;
}

#testimonials-section .quote .role {
  font-size:1rem;
  text-justify: none;
  color:rgb(193, 193, 193);
}

/* #testimonials-section .quote .description {
  font-size:15px;
  margin-bottom:0;
} */

#testimonials-section .quote img {
  max-width:80px;
  float:left;
  margin-right:12px;
  margin-top:-5px;
}



/*
==================================================
IMPRESSUM
==================================================
*/

.impressum {
width: 70%;

}


/*
==================================================
FOOTER
==================================================
*/

footer {
  margin: 40px auto;
  padding-bottom: 40px;
}

.myfooter {
  max-height: 300px;
  background-color: white;
  text-justify: inter-word;
}


.footer a:hover {
  color: gray;
}

.footer p {
text-align: center;
}

.back-to-top {
  text-align: center;
  background: gray;
  color: #fff;
  display: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  opacity: 0.7;
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
  cursor: pointer;
  z-index: 9999
}

.back-to-top:hover {
  opacity: .9;
}

/*
==================================================
RESPONSIVE
==================================================
*/

/* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
 
  header {
    width: 100%;
  }
  
  header .navbar .container {
    width: 95% !important;
  }

  .navbar-brand img {
    height: 45px !important;
    margin-left: 0;
  }

  .section-slogan {
    width: 75%;
    padding-top: 30px;
    padding-bottom: 60px;
  }
  
  .section-slogan .container {
    padding: 25px 0;
  }

  .section-slogan h1 {
  font-size: 3.5rem;
  line-height: 1.15;
  }

  .section-slogan h2 {
  font-size: 1.1875rem;
  }
 
  /* #gallery-filter{
    padding-top: 10px;
    padding-bottom: 20px;
    width: 85%;
    position: relative;
    display: block;
  } */

  /* .container-general .gallery-wrap {
    height: 60vh;
  } */

  
.item .subtitle h2 {
  margin-bottom: 25px;
  padding: 10px 0;
  font-size: 1.8rem;
}

.item .subtitle h4 {
  padding: 40px 0;
  font-size: 1.05rem;
  bottom: 20px;
}


  .navigation a {
    padding: 5px;
    font-size: 1.15rem;
  }
 
  .section-text .container {
    width: 80%; 
    height: 300px;
  }
  
  .philosophy {
    font-family: 'TradeGothicLTS-Light', sans-serif;
    font-size: 1.7rem;
    line-height: 1.8;
    letter-spacing: 1.2;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .section-text cite {
    color: #9B9B9B;
    font-family: 'FuturaLT', 'Lato', sans-serif;
    font-size: 1.1rem;
  }

  .profile-pic {
    width: 60%;
    height: auto;
  }

  .tablet-hidden {
    display: none;
  }

  .mobile-hidden {
    display: block;
  }

 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

header .navbar .container {
    width: 70% !important;
  }

.navbar-brand img {
  height: 50px !important;
}

.section-slogan .container {
  padding: 75px 0;
}

.section-slogan {
  width: 70%;
  padding-top: 60px;
  padding-bottom: 50px;
}

.section-slogan h1 {
  font-size: 6rem;
}

/* .section-slogan h2 {
  font-size: 1.375rem;
} */

.gallery-filter .container{
  width: 70%;
}

.container-general .gallery-wrap {
  height: 65vh;
}


.navigation a {
  font-size: 1.2rem;
}

.item .my-title {
  bottom: 50px;
  font-size: 16px;
}

.item .subtitle h2 {
  font-size: 1.725rem;
}

.item .subtitle h4 {
padding: 50px 0; 
font-size: 1.075rem;
}

.section-text .container {
  width: 70%; 
  height: 350px;
}

.philosophy {
  font-family: 'TradeGothicLTS-Light', sans-serif;
  font-size: 1.7rem;
  line-height: 1.8;
  letter-spacing: 1.2;
  padding-top: 65px;
  padding-bottom: 10px;
}

.section-text cite {
  color: #9B9B9B;
  font-family: 'FuturaLT', 'Lato', sans-serif;
  font-size: 1.1rem;
}

.my-text {
  padding-left: 30px;
  }


.profile-pic {
  width: 40%;
  height: auto;
  }

.testimonials {
  width: 95%;
  }
  
 .tablet-hidden {
 display: none;
  }

  .mobile-hidden {
    display: block;
  }

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

  header .navbar .container {
    width: 75% !important;
  }


.navbar-brand img {
  height: 55px !important;
}
  
.section-slogan h1 {
  font-size: 7.5rem;
}

.section-slogan h2 {
  font-size: 2.15rem;
}

/* #gallery-filter{
  width: 60%;
} */

.container-general .gallery-wrap {
  height: 70vh;
}

.navigation a {
  font-size: 1.25rem;
}

.section-work .item .clip {
  position: relative;
  padding-bottom: 95%;
}

.item .subtitle h2 {
  /* padding: 20px 0;  */
  font-size: 1.75rem;
}

.item .subtitle h4 {
padding: 50px 0; 
font-size: 1.05rem;
}

.section-text {
  padding-top: 40px;
  padding-bottom: 20px;
}

/* .section-text .container {
  width: 65%; 
  height: 300px;
} */

.philosophy {
  font-family: 'TradeGothicLTS-Light', sans-serif;
  font-size: 1.75rem;
  line-height: 1.85;
  letter-spacing: 1.25;
  padding-top: 80px;
  padding-bottom: 15px;
}

.section-text cite {
  color: #9B9B9B;
  font-family: 'FuturaLT', 'Lato', sans-serif;
  font-size: 1.15rem;
}

#about-me {
  width: 95%;
}
  
.profile-pic {
  width: 60%;
  height: auto;
  margin-top: 50px;
  }

.my-text {
padding-left: 50px;
}

#testimonials-section .container {
  width: 95%;
}

figure.tbox {
  margin: 0px;
  min-width: 240px;
  max-width: 300px;
}

.tablet-hidden {
  display: block;
}

.mobile-hidden {
  display: block;
}


}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

  header .navbar .container {
    width: 72% !important;
  }


  .navbar-brand img {
    height: 60px !important;
  }
  
  #gallery-filter{
    width: 50%;
    margin-bottom: 80px;
  }
  
  .container-general .gallery-wrap {
    height: 75vh;
  }

  .navigation a {
    font-size: 1.45rem;
    padding: 10px;
  }

  .item .subtitle h2 {
      vertical-align: center;
      font-size: 1.8rem;
  }
  
  .item .subtitle h4 {
    padding: 30px 0; 
    font-size: 1.1rem;
  }

  .section-text .container {
    width: 60%; 
    height: 480px;
  }
  
  .philosophy {
    font-family: 'TradeGothicLTS-Light', sans-serif;
    font-size: 1.8rem;
    line-height: 1.9;
    letter-spacing: 1.3;
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .section-text cite {
    color: #9B9B9B;
    font-family: 'FuturaLT', 'Lato', sans-serif;
    font-size: 1.2rem;
  }
    

  .my-text {
    padding-left: 60px;
   }

   #about-me {
    width: 85%;
  }

  .mobile-hidden {
    display: block;
  }

  .tablet-hidden {
    display: block;
  }

 }

 


/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

  header .navbar .container {
    width: 75% !important;
  }


  .navbar-brand img {
    height: 65px !important;
  }
  
  .section-work .item .clip {
    position: relative;
    padding-bottom: 90%;
  }

  .testimonials {
    width: 80%;
  }

  .section-title {
    width: 50%;
    margin: auto;
  }


  figure.tbox {
    position: relative;
    margin: 10px;
    min-width: 280px;
    max-width: 320px;
    width: 100%;
  }

  .mobile-hidden {
    display: block;
  }

  .tablet-hidden {
    display: block;
  }

  
}


