@font-face {
  font-family: 'TradeGothicLTStd-Bold';
  src: url("../fonts/trade_gothic_lt_std_bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothicLTStd';
  src: url("../fonts/trade_gothic_lt_std.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothicLTS-Light';
  src: url("../fonts/trade_gothic_lt_light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'din-bold';
  src: url("../fonts/DIN-Bold.woff.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaLT';
  src: url("../fonts/FuturaLT.woff") format("woff"), url("../fonts/FuturaLT.woff2") format("woff2"); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'FuturaLT-Light';
src: url("../fonts/FuturaLT-Light.woff") format("woff"), url("../fonts/FuturaLT-Light.woff2") format("woff2"); 
font-weight: thin;
font-style: normal;
}

@font-face {
font-family: 'FuturaLT-Heavy';
src: url("../fonts/FuturaLT-Light.woff") format("woff"), url("../fonts/FuturaLT-Light.woff2") format("woff2"); 
font-weight: bold;
font-style: normal;
}


/*
==============================================
BASE
==============================================
*/

#loader{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: white url('img/loader.gif') no-repeat center;
	z-index: 999;
}


body {
  font-family: 'FuturaLT', 'Lato', sans-serif;
  font-size: 16px;
}

a {
  color: #232323;
}

a:hover {
color: gray;
}


h2 {
  font-family: 'TradeGothicLTStd-Bold', 'Lato', sans-serif;
}

p {
  line-height: 1.6;
  font-size: 1.1rem;
  text-align: justify;
  text-justify: inter-word;
}



/*
==============================================
HEADER
==============================================
*/

header {
  min-height: 150px;
  margin: auto auto;
  position: relative;
}

header .navbar .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  width: 70%;
}

.navbar .navbar-brand img:hover {
  opacity: 0.5;
}

.navbar .nav-item .nav-link {
  font-family: 'TradeGothicLTStd', 'FuturaLT-Heavy', sans-serif;
  font-weight: 700;
  font-size: 1.15rem;
  color: #232323;
}

.navbar .nav-item .nav-link:hover {
  color: gray;
}

.navbar .nav-item .nav-link:active {
  text-decoration: underline;
}

.navbar-brand img {
  height: 80px !important;
  width: auto;
}

/*
=================================================
HERO TEXT
=================================================
*/

.section-slogan {
  margin: auto auto;
  padding-top: 75px;
  padding-bottom: 75px;
  width: 70%;
  position: relative;
  display: block;
}

.section-slogan .container {
padding: 50px 0;
}


.section-slogan h1,
.section-slogan h2 {
font-family: 'TradeGothicLTStd-Bold', 'Lato', sans-serif;
margin: 0;
}

.section-slogan h1 {
  font-size: 55px;
  line-height: 1.1;
}

.section-slogan h1 strong {
display: block;
}

.section-slogan h2 {
  font-size: 19px;
  letter-spacing: .1em;
}


.section-slogan .sub-title {
font-family: 'TradeGothicLTStd-Bold', 'Libre Franklin', sans-serif;
max-width: 29rem;
line-height: 1.6;
margin: 24px 0 0 8px;
letter-spacing: 0.03em;
font-size: 15px;
}

.section-slogan .sub-title br {
  display: none;
}



/*
==================================================
MY WORK
==================================================
*/

#gallery-filter{
  margin: auto;
  padding-left: -80px;
  padding-top: 20px;
  padding-bottom: 40px;
  width: 73%;
  position: relative;
  display: block;
}

.navigation a {
  font-family: 'TradeGothicLTStd-Bold', 'Lato', sans-serif;
  text-decoration: none;
  padding:5px 20px 10px 20px;
  border-right: 1px solid #232323;
  color: #232323;
  font-size: 1.125rem;
 
}

.navigation a:hover{
  color:gray;
}

.navigation a.active{
  text-decoration: underline;
}

.my-work {
  margin-right: auto;
  margin-left: auto;
  padding: 2px;
  margin-bottom: 10px;
  max-width: 1440px;
  width: 100%;
  min-height: auto; 
}

.my-item {
  min-height: auto;
  top: 0;
  left: 0;
  padding: 3px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}


.my-item:before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: rgba(0, 0, 0, 0.88);
  opacity: 0;
  transition: all 300ms ease;
}

.my-item-hidden {
  display: none;
}

.my-item img {
  width: 100%;
  height: 100%;
}

.my-item img:hover {
  filter: none;
 
}



.my-item .my-title {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.my-item .my-title h2 {
  margin-bottom: 5px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  margin: 10px;
  vertical-align: middle;
  cursor: pointer;
}


.my-item .my-title h2 {
  text-align: center;  
  padding: 10px 0;
  font-size: 2.75rem;
}

.my-item .my-title h4 {
  padding: 50px 0;
  font-size: 1.2rem;
}


.my-item:hover:before {
  opacity: 0.4;
}

.my-item:hover .my-title {
  opacity: 1;
  visibility: visible;
  bottom: 30px;
  color: white;
}

/*
==================================================
SERVICES
==================================================
*/

#services {
   padding: 20px 60px;
   margin: auto auto;
   display: block;
   width: 70%;
  }


.service{
	border: 1px solid lightgray;
	margin-top: 20px;
	margin-bottom: 50px;
	transition: all 0.3s;
	position: relative;
	padding: 50px 10px;
}



.service:hover{
	border-color: gray;
	margin-top: 0px;
	margin-bottom: 0px;
	cursor: pointer;
	padding-top: 40px;
	padding-bottom: 40px;
}

#services h3 {
  font-family: 'TradeGothicLTS-Light';
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 1.1;
}
.service p {
	font-size: 14px;
	padding-top: 20px;
	font-family: 'FuturaLT', 'Lato', sans-serif;
  color: lightgray;
}

.space { 
  padding-top: 40px; 
}

.section-title {
  width: 100%;
  margin: auto;
}


/*
==================================================
ABOUT
==================================================
*/

.about-me {
  margin: auto auto;
  padding-top: 100px;
  padding-bottom: 75px;
  width: 80%;
  position: relative;

}

.profile-pic {
  border-radius: 100%;
  width: 80%;
  height: auto;
  display: block;
  z-index: 2;
  position: relative;
 
}


.social_widget .f_title h4 {
font-family: 'Amatic SC', cursive;
font-weight: 700;
font-size: 2rem;
margin: auto auto;
color: #232323;
padding-top: 10px;
}

.social_widget .list a i {
  margin: 0;
  display: inline-block;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2.2rem;
  text-decoration: none;
}

.social_widget .list a {
  color: #232323;
  font-size: 32px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.social_widget .list li:last-child {
  margin-right: 0px;
}

.social_widget .list a:hover {
  color: gray;
}

.my-text {
line-height: 1;
}


/*
==================================================
TESTIMONIALS
==================================================
*/

#testimonials-section {
  margin: auto;
  display: block;
  padding: 80px 0;
  text-align: center;
  position: relative;
  width:90%;
  justify-content: center;

}

.testimonials-carousel {
  width: 60%;
  margin: auto;
}

ul.testimonials-slider {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
}


ul.testimonials-slider li img {
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
       -o-border-radius: 50%;
          border-radius: 50%;
  margin-bottom: 35px;
  display: inline-block;
}

ul.testimonials-slider li p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin: 0 0 20px;
  color: #9B9B9B;
  font-style: italic;
  letter-spacing: 1.2px;
}

.testimonials-author {
  color: lightgrey;
}

.tc-arrows {
  margin-top: 30px;
}

.tc-arrow-left, .tc-arrow-right {
  display: inline-block;
}

.testimonials-carousel a.bx-next, .testimonials-carousel a.bx-prev {
  display: block;
  margin: auto;
  text-align: center;
  color: #fff;
  width: 30px;
  height: 30px;
  /* border: 1px solid lightgrey; */
  text-align: center;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.testimonials-carousel a.bx-next:hover, .testimonials-carousel a.bx-prev:hover {
  color: #fff;
  background: lightgray;
}

.tc-arrow-left {
  margin-right: 2px;
}

.tc-arrow-right {
  margin-left: 1px;
}

.tc-arrow-left .fa, .tc-arrow-right .fa {
  line-height: 28px;
  font-size: 21px;
  width: 28px;
  height: 28px;
  text-align: center;
}

.tc-arrow-left .fa {
  margin-left: -2px;
}

.tc-arrow-right .fa {
  margin-right: -2px;
}

#testimonials-section .bx-wrapper img {
  width: auto;
}

#soon-about-section .title-section {
  padding-bottom: 0;
  padding-top: 100px;
}




/*
==================================================
IMPRESSUM
==================================================
*/

.impressum {
width: 70%;

}


/*
==================================================
FOOTER
==================================================
*/

footer {
  margin: 40px auto;
  
}

.myfooter {
  max-height: 300px;
  background-color: white;
  text-justify: inter-word;
}



.footer a:hover {
  color: gray;
}

.footer p {
text-align: center;
}



/***********************************************************************************************/
/* =Back to top */
/***********************************************************************************************/

.back-to-top {
  text-align: center;
  background: gray;
  color: #fff;
  display: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  opacity: 0.7;
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
  cursor: pointer;
  z-index: 9999
}

.back-to-top:hover {
  opacity: .9;
}

/*
==================================================
RESPONSIVE
==================================================
*/

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 

.navbar-brand img {
   height: 40px !important;
  }

} 

/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) { 

 .navbar-brand img {
  height: 45px !important;
  }

  .section-slogan .container {
  padding: 40px 0;
}

.section-slogan h1 {
  font-size: 3.5rem;
  line-height: 1.15;
}

.section-slogan h2 {
  font-size: 19px;
}

.section-slogan .sub-title {
  line-height: 2;
  font-size: 16px;
  max-width: 651px;
}

.profile-pic {
  width: 60%;
  height: auto;
}

#services {
  width: 100%;
 }

 .section-title {
  width: 95%;
  margin: auto;
}

.testimonials {
  width: 80%;
  margin: auto;
}

.tablet-hidden {
  display: none;
}


}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

.navbar-brand img {
  height: 50px !important;
}

.section-slogan .container {
  padding: 75px 0;
}

.section-slogan h1 {
  font-size: 80px;
}

.section-slogan h2 {
  font-size: 22px;
}

.section-slogan .sub-title {
  line-height: 2;
  font-size: 16px;
  max-width: 651px;
}

.my-item .my-title {
  bottom: 50px;
  font-size: 16px;
}

.my-item .my-title h2,
.my-item .my-title h4 {
  padding: 20px 0; 
}

.my-text {
padding-left: 30px;
}

.navbar .navbar-brand img {
width: auto;
height: 100px;
}

.section-title {
  width: 70%;
  margin: auto;
}

.profile-pic {
  width: 40%;
  height: auto;
}

#services {
  width: 100%;
 }

 .testimonials {
  width: 95%;
}

.tablet-hidden {
  display: none;
}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

.navbar-brand img {
  height: 60px !important;
}
  
.section-slogan h1 {
  font-size: 8.625rem;
}

.section-slogan h2 {
  font-size: 37px;
}

.section-slogan .sub-title {
  line-height: 2.4;
  margin: 24px 0 0 8px;
  letter-spacing: 0.13em;
  font-size: 18px;
}

.my-item .my-title h2 {
  padding: 10px 0; 
  font-size: 3rem;
}

.my-item .my-title h4 {
padding: 50px 0; 
}

.my-text {
padding-left: 50px;
}

.profile-pic {
  width: 90%;
  height: auto;
}


#services {
  width: 85%;
  margin: auto;
 }

 .section-title {
  width: 75%;
  margin: auto;
}

.testimonials-carousel {
  width: 80%;
  margin: auto;
}


 .testimonials {
  width: 95%;
}

figure.tbox {
  
  margin: 0px;
  min-width: 240px;
  max-width: 300px;
}

.tablet-hidden {
  display: block;
}

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

  .navbar-brand img {
    height: 70px !important;
  }
  

  .my-item .my-title h2 {
      padding: 10px 0; 
      font-size: 3.2rem;
  }
  
  .my-item .my-title h4 {
    padding: 50px 0; 
  }

  .my-text {
    padding-left: 60px;
   }

   .profile-pic {
    width: 60%;
    height: auto;
  }



  .testimonials {
    width: 80%;
  }

  .section-title {
    width: 50%;
    margin: auto;
  }

}


/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

  .navbar-brand img {
    height: 80px !important;
  }
  

  .testimonials {
    width: 80%;
  }

  .section-title {
    width: 50%;
    margin: auto;
  }


  figure.tbox {
    position: relative;
    margin: 10px;
    min-width: 280px;
    max-width: 320px;
    width: 100%;
  }

  
}